      body {
  background-color: white;
}

.bubble {
  margin: auto;
  width: 34%;
  border: 5px solid gray;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: lightgray;
}

.btn {
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.info {
  color: dodgerblue;
  border: 3px solid black;
  border-radius: 20px;
  background: #eeeeee
}

.info:hover {
  background: #2196F3;
  color: white;
}

#title {
    color: black;
    text-align: center;
    font-family: verdana;
  font-size: 300%;
}
